@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ease-out: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
  }

  body {
    @apply bg-[#f4f8fb] text-slate-800;
    margin: 0;
    padding: 0;
  }
}